

# Ignore checkpoints
checkpoints/

# Ignore model weights
*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints/




# Model weights and outputs
blip-finetuned/
*.safetensors
*.pkl





# Additional from project
wandb/
features.npy

